<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <link rel="shortcut icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/2064/2064847.png">
  <!-- <link rel="shortcut icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/2934/2934856.png"> -->
  <title>HeartDognal</title>
  <meta name="description" content="Wireframe design of a checkout form by Pingendo">
  <meta name="keywords" content="Pingendo bootstrap example template wireframe checkout form">
  <meta name="author" content="Pingendo">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  
  <style>
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400&display=swap');

    * {
      font-family: 'IBM Plex Sans KR', sans-serif !important
    }


    
  </style>

  {% block header_code %}


  {% endblock %}
</head>

<body class="bg-light">
  <nav class="navbar navbar-expand-md navbar-dark bg-primary" style="">
    <div class="container"> <a class="navbar-brand" href="/">
        <!-- <i class="fa d-inline fa-lg fa-stop-circle"></i> -->
        <img src="https://www.iconsdb.com/icons/preview/white/house-xxl.png" style="width: 1vw;">
        <b style="">Home</b></a>
        <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar16">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar16">
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <li class="nav-item"> <a class="nav-link" href="/about_us">About us</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'accounts:logout' %}">{{user.username}} | Logout</a></li>
          <li class="nav-item"> <a class="nav-link" href="/accounts/mypage/">MyPage</a> </li>
          {% else %}
          <li class="nav-item"> <a class="nav-link" href="/about_us">About us</a> </li>
          <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">Login</a></li>
          <li class="nav-item"> <a class="nav-link" href="/accounts/signup/">Sign Up</a> </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

{% block content %}




{% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo> -->

<div class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-6 p-3">
        <h5> <b>Main</b> </h5>
        <ul class="list-unstyled">
          <li> <a href="#">Home</a> </li>
          <li> <a href="#">Features</a> </li>
          <li> <a href="#">Pricing</a> </li>
        </ul>
      </div>
      <div class="col-lg-3 col-6 p-3">
        <h5> <b>Others</b> </h5>
        <ul class="list-unstyled">
          <li> <a href="#">FAQ</a> </li>
          <li> <a href="#">Resources</a> </li>
          <li> <a href="#">Career</a> </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 p-3">
        <h5> <b>About</b> </h5>
        <p class="mb-0"> 유기견들의 새로운 삶을 위해 우리가 함께 합시다.</p>
      </div>
      <div class="col-lg-3 col-md-6 p-3">
        <h5> <b>Follow us</b> </h5>
        <div class="row">
          <div class="col-md-12 d-flex align-items-center justify-content-between my-2"> 
            <a href="https://github.com/seojeon9/HeartDognal">
              <img src="https://cdn-icons-png.flaticon.com/512/733/733609.png" style="width: 2vw;">
            </a>
            <!-- <a href="#">
              <i class="d-block fa fa-facebook-official text-muted fa-lg mr-2"></i>
            </a> <a href="#">
              <i class="d-block fa fa-instagram text-muted fa-lg mx-2"></i>
            </a> <a href="#">
              <i class="d-block fa fa-google-plus-official text-muted fa-lg mx-2"></i>
            </a> <a href="#">
              <i class="d-block fa fa-pinterest-p text-muted fa-lg mx-2"></i>
            </a> <a href="#">
              <i class="d-block fa fa-reddit text-muted fa-lg mx-2"></i>
            </a> <a href="#">
              <i class="d-block fa fa-twitter text-muted fa-lg ml-2"></i>
            </a>  -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="mb-0 mt-2">© 2022 HeartDognal. Some rights reserved</p>
      </div>
    </div>
  </div>
</div>

</body>

</html>