{% extends 'base.html' %}
{% load static %}

{% block header_code %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">

<style>
  .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1000;

        /* 숨기기 */
        z-index: -1;
        opacity: 0;
      }

      .show {
        opacity: 1;
        z-index: 1000;
        transition: all 0.5s;
      }

      .window {
        position: relative;
        width: 100%;
        height: 100%;
      }

      .popup {
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius:10px; 
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

        /* 임시 지정 */
        width:400px; 
        height:200px;

        /* 초기에 약간 아래에 배치 */
        transform: translate(-50%, -40%);
      }

      .show .popup {
        transform: translate(-50%, -50%);
        transition: all 0.5s;
      }
</style>
{% endblock %}


{% block content %}
    <div class="container">
      <div class="row" style="">
        <div class="col-lg-7 align-self-center text-lg-left text-center">
          <div class="row">
            <div class="col-md-12">
              <div class="row my-5">
                <div class="col-md-12">
                  <div class="row" style="">
                    <div class="col-md-12 d-flex justify-content-center" ><img class="card-img-top w-75" src="https://postfiles.pstatic.net/MjAyMjExMTVfMTM0/MDAxNjY4NDcyODI4Njg1.U5ACBvNXdadRN71aG94nVJA94vmKreKM0yusyuTPNs8g.sZGBFIhPaPWpjWZAPF3fhZpd7ikp-pUjl1IGpa1UAxcg.PNG.sjs2605/%ED%95%98%ED%8A%B8%EB%8F%84%EA%B7%B8%EB%84%90_%ED%8F%AC%EC%9D%B8%ED%8A%B8X.png?type=w966"></div>
                    </div>
                  <div class="row"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6" style="">
                  {% if user.is_authenticated %}
                  <a class="btn btn-lg btn-block btn-light text-primary" href="/recommend/presurvey/">Recommended</a>
                  {% else %}
                  <button class="btn btn-lg btn-block btn-light text-primary" id="show">Recommended</button>
                  {% endif %}
                  <div class="background">
                    <div class="window">
                      <div class="popup">
                        <p style="padding: 10px; ">
                          <h2 style="text-align: center;">하트도그널</h2>
                          <p style="padding: 20px; text-align: center;"><b>로그인 후 이용가능한 서비스 입니다.</b>
                          <button class="btn btn-primary" id="close" style=" width: 70%; margin: 10px;">닫기</button>
                        </p>
                      </div>
                      <div>
                        <div></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6"><a class="btn btn-block btn-lg btn-light text-primary" href="search/">Search</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 p-3"  style="margin-top: 100px; margin-bottom: 100px">
          <form class="bg-dark-opaque my-5 p-4 py-5" method="post" action="{% url 'accounts:login' %}" style="" >
            {% csrf_token %}
            <input type="hidden" name="next" value="{{next}}">
            {% if user.is_authenticated %}
            <form class="bg-dark-opaque my-5 p-4 py-5 d-flex justify-content-center" method="post" action="{% url 'accounts:login' %}" style="" >
              <h1 class="" >{{user.name}}님<br>환영합니다.</h1>
            </form>
            {% else %}
            <div class="form-group"> <label>ID</label> <input type="Text" class="form-control mb-2" name="username" id="username" placeholder="" value="{{form.username.value|default_if_none:''}}"> </div>
            <div class="form-group"> <label>Password</label> <input type="password" class="form-control mb-3" name="password" id="password" placeholder="" value="{{form.password.value|default_if_none:''}}"> </div>
            <button type="submit" class="btn my-2 btn-block active btn-lg btn-primary text-light" style="">LOGIN</button>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    function show() {
      document.querySelector(".background").className = "background show";
    }
    function close() {
      document.querySelector(".background").className = "background";
    }

    document.querySelector("#show").addEventListener("click", show);
    document.querySelector("#close").addEventListener("click", close);
  </script>

{% endblock %}