  <nav class="navbar navbar-expand-md navbar-dark bg-primary" style="">
    <div class="container"> <a class="navbar-brand" href="/about_us">
        <i class="fa d-inline fa-lg fa-stop-circle"></i>
        <b style="">About Us</b></a>
        <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar16">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar16">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="/">Home</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/accounts/signup/">Sign Up</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/accounts/mypage/">MyPage</a> </li>
        </ul>
      </div>
    </div>
  </nav>
{% block content %}
{% endblock %}
