{% extends 'base.html' %}

{% load static %}

{% block header_code %}
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
{% endblock %}

{% block content %}
  <div class="py-5 text-center" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-body text-center"><b>"There is no bad Dog in the world"</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 order-2 order-lg-1 p-0"><img class="card-img-top" src="../assets/dog2.png" alt="Card image cap"  ></div>
        <div class="px-5 d-flex flex-column align-items-start justify-content-center order-1 order-lg-2 col-lg-5">
          <h1 class="display-4"><b>Take Dog Make Life&nbsp;</b></h1>
          <h3 class="">유기견들의 새로운 삶을 위해 우리가 함께 합시다.</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-6 p-3">
          <p> (주소) :<a href="https://goo.gl/maps/AUq7b9W7yYJ2" target="_blank">서울특별시 강남구 선릉로 428</a> </p>
          <p contenteditable="true"> (번호) &nbsp;<a href="1544-9001">: 1544-9001</a> </p>
          <p class="mb-0"> (메일 주소)&nbsp;<a href="roadpet@naver.com">: roadpet@naver.com</a> </p>
        </div>
        <div class="col-md-6 p-3">
          <h5> <b>Our Team</b></h5>
          <h5 class="">Science: 김경현 김태훈 이지훈&nbsp;<br>Engineer: 손지수 이상엽 이서정</h5>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}