{% extends 'base.html' %}

{% load static %}

{% block header_code %}

  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
  <link rel="stylesheet" href="{% static 'searchdetail/assets/css/star-rating.css' %}">

  <style>
    /* 보여줄 구간의 높이와 넓이 설정 */
    #slideShow{
      width: 100%;
      height: 423px;
      position: relative;
      margin: 50px auto;
      overflow: hidden;   
      /*리스트 형식으로 이미지를 일렬로 
      정렬할 것이기 때문에, 500px 밖으로 튀어 나간 이미지들은
      hidden으로 숨겨줘야됨*/
    }


    .slides{
      position: absolute;
      left: 0;
      top: 0;
      width: 1000px; /* 슬라이드할 사진과 마진 총 넓이 */
      transition: left 0.5s ease-out; 
      /*ease-out: 처음에는 느렸다가 점점 빨라짐*/
    }

    /* 첫 번째 슬라이드 가운데에 정렬하기위해
    첫번째 슬라이드만 margin-left조정 */
    .slides li:first-child{
      margin-left: 100px;
    }

    /* 슬라이드들 옆으로 정렬 */
    .slides li:not(:last-child){
      float: left;
      margin-right: 100px;
    }

    .slides li{
      float: left;
    }

    .controller span{
      position:absolute;
      background-color: transparent;
      color: black;
      text-align: center;
      border-radius: 50%;
      padding: 10px 20px;
      top: 50%;
      font-size: 1.3em;
      cursor: pointer;
    }

    /* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
    .controller span:hover{
      background-color: rgba(128, 128, 128, 0.11);
    }

    .prev{
      left: 10px;
    }

    /* 이전 화살표에 마우스 커서가 올라가 있을때 
    이전 화살표가 살짝 왼쪽으로 이동하는 효과*/
    .prev:hover{
      transform: translateX(-10px);
    }

    .next{
      right: 10px;
    }

    /* 다음 화살표에 마우스 커서가 올라가 있을때 
    이전 화살표가 살짝 오른쪽으로 이동하는 효과*/
    .next:hover{
      transform: translateX(10px);
    }
  </style>
{% endblock %}

{% block content %}
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <h2 class="">품종명 : {{selected_dog.0.kind_nm}}</h2>
            </div>
            <div class="col-md-6">
              <div class="rating">
                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-lg-3 order-2 order-md-1 p-0" style="">
              <img class="img-fluid d-block" src="{{selected_dog.0.profile}}">
              <div class="row">
                <div class="col-md-12"><a class="btn btn-primary w-100" href="#" style="">(전화 아이콘) 입양문의</a></div>
              </div>
            </div>
            <div class="d-flex flex-column justify-content-center p-3 col-md-8 offset-lg-1 align-items-start order-1 order-md-2" style="box-shadow: black 0px 0px 4px; text-shadow: black 0px 0px 4px;">
              <div class="row w-100">
                <div class="col-md-3" style="">
                  <h4 class="">나이(만)</h4>
                </div>
                <div class="col-md-5" style="">
                  <h5 class="">{{selected_dog.0.age}}세</h5>
                </div>
              </div>
              <div class="row w-100">
                <div class="col-md-3" style="">
                  <h4 class="">성별</h4>
                </div>
                <div class="col-md-5" style="">
                  <h5 class="">
                    {% if selected_dog.0.sex_cd == 'F' %}
                    여
                    {% elif selected_dog.0.sex_cd == 'M' %}
                    남
                    {% else %}
                    미상
                    {% endif %}
                  </h5>
                </div>
              </div>
              <div class="row w-100">
                <div class="col-md-3" style="">
                  <h4 class="">체중</h4>
                </div>
                <div class="col-md-5" style="">
                  <h5 class="">{{selected_dog.0.weight}}kg</h5>
                </div>
              </div>
              <div class="row w-100">
                <div class="col-md-3" style="">
                  <h4 class="">중성화 여부</h4>
                </div>
                <div class="col-md-5" style="">
                  <h5 class="">
                    {% if selected_dog.0.neuter_yn == 'U' %}
                    미상
                    {% else %}
                    {{selected_dog.0.neuter_yn}}
                    {% endif %}
                  </h5>
                </div>
              </div>
              <div class="row w-100">
                <div class="col-md-3" style="">
                  <h4 class="">상태</h4>
                </div>
                <div class="col-md-5" style="">
                  <h5 class="">{{selected_dog.0.process_st}}</h5>
                </div>
              </div>
              <div class="row w-100">
                <div class="col-md-3" style="">
                  <h4 class="">특징</h4>
                </div>
                <div class="col-md-5" style="">
                  <h5 class="">{{selected_dog.0.special_mark}}</h5>
                </div>
              </div>
              <div class="row w-100">
                <div class="col-md-3" style="">
                  <h4 class="">보호소</h4>
                </div>
                <div class="col-md-5" style="">
                  <h5 class="">{{selected_dog.0.care_id}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12"><iframe width="100%" height="400" src="https://maps.google.com/maps?q=New%20York&amp;z=14&amp;output=embed" scrolling="no" frameborder="0"></iframe></div>
      </div>
    </div>
  </div>
  <div class="py-4" >
    <div class="container">
      <div class="row" style="">
        <div class="col-md-12">
          <h2 class="text-center" style="margin-bottom: 10px;">이런 아이들도 있어요</h2>
        </div>
      </div>
      <div class="row">
        <!-- class="col-md-12" -->
        <div id="slideShow"> 
          <ul class="slides" style="list-style:none;">
            {% for dog in recom_dog %}
            <li>
              <form action="/detail_info/{{dog.desertion_no}}/" method="GET">
              <div class="card" > <img class="card-img-top" src="{{dog.profile}}" alt="{{dog.kind_nm}}" style="width: 100%; height: 200px">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center; white-space: nowrap;overflow:hidden;text-overflow: ellipsis;">{{dog.kind_nm}}</h4>
                  <p class="card-text">나이 : {{dog.age}}세
                    <br>성별 : 
                    {% if dog.sex_cd == 'F' %}
                    여
                    {% elif dog.sex_cd == 'M' %}
                    남
                    {% else %}
                    미상
                    {% endif %}
                    <br>중성화 여부 : 
                    {% if dog.neuter_yn == 'U' %}
                    미상
                    {% else %}
                    {{dog.neuter_yn}}
                    {% endif %}
                  </p style="float: center;"><button class="btn btn-primary" >상세페이지</button>
                </div>
              </div>
              </form>
            </li>
            {% endfor %}
          </ul>
          <p class="controller">
            <!-- &lang: 왼쪽 방향 화살표
            &rang: 오른쪽 방향 화살표 -->
            <span class="prev">&lang;</span>  
            <span class="next">&rang;</span>
          </p>
        </div>
      </div>
    </div>
  </div>


  <script>
    const slides = document.querySelector('.slides'); //전체 슬라이드 컨테이너
    const slideImg = document.querySelectorAll('.slides li'); //모든 슬라이드들
    let currentIdx = 0; //현재 슬라이드 index
    const slideCount = slideImg.length; // 슬라이드 개수
    const prev = document.querySelector('.prev'); //이전 버튼
    const next = document.querySelector('.next'); //다음 버튼
    const slideWidth = 300; //한개의 슬라이드 넓이
    const slideMargin = 200; //슬라이드간의 margin 값

    //전체 슬라이드 컨테이너 넓이 설정
    slides.style.width = (slideWidth + slideMargin) * slideCount + 'px';

    function moveSlide(num) {
      slides.style.left = -num * 400 + 'px';
      currentIdx = num;
    }

    prev.addEventListener('click', function () {
      /*첫 번째 슬라이드로 표시 됐을때는 
      이전 버튼 눌러도 아무런 반응 없게 하기 위해 
      currentIdx !==0일때만 moveSlide 함수 불러옴 */

      if (currentIdx !== 0) moveSlide(currentIdx - 1);
    });

    next.addEventListener('click', function () {
      /* 마지막 슬라이드로 표시 됐을때는 
      다음 버튼 눌러도 아무런 반응 없게 하기 위해
      currentIdx !==slideCount - 1 일때만 
      moveSlide 함수 불러옴 */
      if (currentIdx !== slideCount - 1) {
        moveSlide(currentIdx + 1);
      }
    });
  </script>

{% endblock %}
