{% extends 'base.html' %}

{% load static %}

{% block header_code %}

  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
  <link rel="stylesheet" href="{% static 'searchdetail/assets/css/star-rating.css' %}">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
  <!-- src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" -->
  <!-- src="https://code.jquery.com/jquery-3.5.1.js" -->

  <style>
    /* 입양문의 모달창 css */

    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1000;

        /* 숨기기 */
        z-index: -1;
        opacity: 0;
      }

      .show {
        opacity: 1;
        z-index: 1000;
        transition: all 0.5s;
      }

      .window {
        position: relative;
        width: 100%;
        height: 100%;
      }

      .popup {
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius:10px; 
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

        /* 임시 지정 */
        width:400px; 
        height:300px;

        /* 초기에 약간 아래에 배치 */
        transform: translate(-50%, -40%);
      }

      .show .popup {
        transform: translate(-50%, -50%);
        transition: all 0.5s;
      }
    /* end */

    /* 이런아이들도 있어요 슬라이드 css */
    /* 보여줄 구간의 높이와 넓이 설정 */
    #slideShow{
      width: 75%;
      height: 423px;
      position: relative;
      margin: 50px auto;
      overflow: hidden;   
      /*리스트 형식으로 이미지를 일렬로 
      정렬할 것이기 때문에, 500px 밖으로 튀어 나간 이미지들은
      hidden으로 숨겨줘야됨*/
    }

    .slides{
      position: absolute;
      left: 0;
      top: 0;
      width: 1000px; /*슬라이드할 사진과 마진 총 넓이*/
      transition: left 0.5s ease-out; 
      /*ease-out: 처음에는 느렸다가 점점 빨라짐*/
    }

    /* 첫 번째 슬라이드 가운데에 정렬하기위해
    첫번째 슬라이드만 margin-left조정 */
    .slides li{
      margin-right: 110px;
      /* width:22%; */
    }

    /* 슬라이드들 옆으로 정렬 */
    .slides li:not(:last-child){
      float: left;
    }

    .slides li{
      float: left;
    }

    .wrap_arrow span{
      position:absolute;
      background-color: transparent;
      color: black;
      text-align: center;
      border-radius: 50%;
      padding: 10px 20px;
      top: 50%;
      font-size: 1.3em;
      cursor: pointer;
    }

    /* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
    .wrap_arrow span:hover{
      background-color: rgba(128, 128, 128, 0.11);
    }

    .prev{
      left: 10px;
    }

    /* 이전 화살표에 마우스 커서가 올라가 있을때 
    이전 화살표가 살짝 왼쪽으로 이동하는 효과*/
    .prev:hover{
      transform: translateX(-10px);
    }

    .next{
      right: 10px;
    }

    /* 다음 화살표에 마우스 커서가 올라가 있을때 
    이전 화살표가 살짝 오른쪽으로 이동하는 효과*/
    .next:hover{
      transform: translateX(10px);
    }

    /* ----------------------------------------- */

    #myform fieldset{
        display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
        direction: rtl; /* 이모지 순서 반전 */
        border: 0; /* 필드셋 테두리 제거 */
    }

    #myform input[type=radio]{
        display: none; /* 라디오박스 감춤 */
    }

    #myform label{
        font-size: 2em; /* 이모지 크기 */
        color: transparent; /* 기존 이모지 컬러 제거 */
        text-shadow: 0 0 0 #3d3d2b; /* 새 이모지 색상 부여 */
    }

    #myform label:hover{
        text-shadow: 0 0 0 #ffd400; /* 마우스 호버 */
    }

    #myform label:hover ~ label{
        text-shadow: 0 0 0 #ffd400; /* 마우스 호버 뒤에오는 이모지들 */
    }

    #myform fieldset legend{
        text-align: left;
        font-size: 18pt;
    }

    #myform input[type=radio]:checked ~ label{
        text-shadow: 0 0 0 #ffd400; /* 마우스 클릭 체크 */
    }
    .wrap_arrow{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .wrap_arrow span{
      align-self: center;
    }

    .card-body{
      display: flex;
      flex-direction: column;
    }
    /* end */
  </style>
{% endblock %}

{% block content %}
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <h2 class="">품종명 : {{selected_dog.0.kind_nm}}</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-lg-3 order-2 order-md-1 p-0" >
              <img class="img-fluid d-block" src="{{selected_dog.0.profile}}" style="width: 100%;">
              <!-- <form action="/detail_info/adop_inquiry/" method="POST"> -->
                <!-- {% csrf_token %} -->
                <div class="row">
                  <input type="hidden" name="desertion_no" id="desertion_no" value="{{selected_dog.0.desertion_no}}"/>
                  <div class="col-md-12"><button class="btn btn-primary w-100" id="show"><img src="https://cdn-icons-png.flaticon.com/512/7044/7044607.png" style="width: 25px;"> 입양문의</button></div>
                </div>
              <!-- </form> -->
              <!-- 모달 팝업 -->
              <div class="background">
                <div class="window">
                  <div class="popup">
                    <p style="padding: 10px; ">
                      <h2 style="text-align: center;">보호소 정보</h2>
                      <p style="padding: 20px;"><b>이름</b> : {{shelter.care_nm}} <br>
                        <b>상세주소</b> : {{shelter.addr_detail}}<br>
                        <b>전화번호</b> : {{shelter.care_tel}}
                      </p>
                      <button class="btn btn-primary" id="close" style="margin-left: 15%; width: 70%;">닫기</button>
                    </p>
                  </div>
                  <div>
                    <div></div>
                  </div>
                </div>
              </div>
              <br>
              <form name="myform" id="myform" method="post" action="/detail_info/{{selected_dog.0.desertion_no}}/" onsubmit="return Stareg()">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-12" style="">
                    <fieldset>
                        <legend>관심등록하기</legend>
                        <input type="radio" name="mystar" value="5" id="rate1"><label for="rate1">⭐</label>
                        <input type="radio" name="mystar" value="4" id="rate2"><label for="rate2">⭐</label>
                        <input type="radio" name="mystar" value="3" id="rate3"><label for="rate3">⭐</label>
                        <input type="radio" name="mystar" value="2" id="rate4"><label for="rate4">⭐</label>
                        <input type="radio" name="mystar" value="1" id="rate5"><label for="rate5">⭐</label>
                    </fieldset>                    
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12" ><br><button class="btn btn-secondary">등록</button></div>
                </div>
              </form>
            </div>
            <div class="d-flex flex-column justify-content-center p-3 col-md-8 offset-lg-1 align-items-start order-1 order-md-2" style="box-shadow: black 0px 0px 4px; text-shadow: black 0px 0px 4px;">
              <div class="row w-100">
                <div class="col-md-3" style="">
                  <h4 class="">나이(만)</h4>
                </div>
                <div class="col-md-5" style="">
                  <h5 class="">{{selected_dog.0.age}}세</h5>
                </div>
              </div>
              <div class="row w-100">
                <div class="col-md-3" style="">
                  <h4 class="">성별</h4>
                </div>
                <div class="col-md-5" style="">
                  <h5 class="">
                    {% if selected_dog.0.sex_cd == 'F' %}
                    여
                    {% elif selected_dog.0.sex_cd == 'M' %}
                    남
                    {% else %}
                    미상
                    {% endif %}
                  </h5>
                </div>
              </div>
              <div class="row w-100">
                <div class="col-md-3" style="">
                  <h4 class="">체중</h4>
                </div>
                <div class="col-md-5" style="">
                  <h5 class="">{{selected_dog.0.weight}}kg</h5>
                </div>
              </div>
              <div class="row w-100">
                <div class="col-md-3" style="">
                  <h4 class="">중성화 여부</h4>
                </div>
                <div class="col-md-5" style="">
                  <h5 class="">
                    {% if selected_dog.0.neuter_yn == 'U' %}
                    미상
                    {% else %}
                    {{selected_dog.0.neuter_yn}}
                    {% endif %}
                  </h5>
                </div>
              </div>
              <div class="row w-100">
                <div class="col-md-3" style="">
                  <h4 class="">상태</h4>
                </div>
                <div class="col-md-5" style="">
                  <h5 class="">{{selected_dog.0.process_st}}</h5>
                </div>
              </div>
              <div class="row w-100">
                <div class="col-md-3" style="">
                  <h4 class="">특징</h4>
                </div>
                <div class="col-md-5" style="">
                  <h5 class="">{{selected_dog.0.special_mark}}</h5>
                </div>
              </div>
              <div class="row w-100">
                <div class="col-md-3" style="">
                  <h4 class="">보호소</h4>
                </div>
                <div class="col-md-5" style="">
                  <h5 class="">{{selected_dog.0.care_id}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <iframe width="100%" height="400" src="https://maps.google.com/maps?q={{shelter.addr_detail|urlencode}}&center={{shelter.latitude}},{{shelter.longitude}}1&amp;z=14&amp;output=embed" scrolling="no" frameborder="0"></iframe></div>
      </div>
    </div>
  </div>
  <div class="py-4" >
    <div class="container">
      <div class="row" style="">
        <div class="col-md-12">
          <h2 class="text-center" style="margin-bottom: 10px;">이런 아이들도 있어요</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 wrap_arrow"><span class="prev">&lang;</span></div>
        <!-- class="col-md-12" -->
        <div id="slideShow" class="col-md-10"> 
          <ul class="slides" style="list-style:none;">
            {% for dog in recom_dog %}
            <li>
              <form action="/detail_info/{{dog.desertion_no}}/" method="GET">
              <div class="card" > <img class="card-img-top" src="{{dog.profile}}" alt="{{dog.kind_nm}}" style="width: 200px; height: 200px">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center; white-space: nowrap;overflow:hidden;text-overflow: ellipsis;">{{dog.kind_nm}}</h4>
                  <p class="card-text">나이 : {{dog.age}}세
                    <br>성별 : 
                    {% if dog.sex_cd == 'F' %}
                    여
                    {% elif dog.sex_cd == 'M' %}
                    남
                    {% else %}
                    미상
                    {% endif %}
                    <br>중성화 여부 : 
                    {% if dog.neuter_yn == 'U' %}
                    미상
                    {% else %}
                    {{dog.neuter_yn}}
                    {% endif %}
                  </p style="float: center;"><button class="btn btn-primary" >상세페이지</button>
                </div>
              </div>
              </form>
            </li>
            {% endfor %}
          </ul>
          

        </div>
        <div class="col-md-1 wrap_arrow"><span class="next">&rang;</span></div>
      </div>
    </div>
  </div>

  <script >
    // 입양문의 모달 js
    

    function show() {
      document.querySelector(".background").className = "background show";

      var x = $("#desertion_no").val();
      console.log(x);
      //ajax 통신
      $.ajax({
        type: 'POST',
        url: '{% url "adop_inquiry" %}',
        data: {'desertion_no':desertion_no},
        // dataType: 'json'
      });
    }

    function close() {
      document.querySelector(".background").className = "background";
    }

    document.querySelector("#show").addEventListener("click", show);
    document.querySelector("#close").addEventListener("click", close);


    // 이런 아이들도 있어요 슬라이드 js
    const slides = document.querySelector('.slides'); //전체 슬라이드 컨테이너
    const slideImg = document.querySelectorAll('.slides li'); //모든 슬라이드들
    let currentIdx = 0; //현재 슬라이드 index
    const slideCount = slideImg.length; // 슬라이드 개수
    const prev = document.querySelector('.prev'); //이전 버튼
    const next = document.querySelector('.next'); //다음 버튼
    const slideWidth = 300; //한개의 슬라이드 넓이
    const slideMargin = 50; //슬라이드간의 margin 값

    //전체 슬라이드 컨테이너 넓이 설정
    slides.style.width = (slideWidth + slideMargin) * slideCount + 'px';

    function moveSlide(num) {
      if (num < 3){
        slides.style.left = -num * 300 + 'px';
        currentIdx = num;
      }
    }

    prev.addEventListener('click', function () {
      /*첫 번째 슬라이드로 표시 됐을때는 
      이전 버튼 눌러도 아무런 반응 없게 하기 위해 
      currentIdx !==0일때만 moveSlide 함수 불러옴 */

      if (currentIdx !== 0) moveSlide(currentIdx - 1);
    });

    next.addEventListener('click', function () {
      /* 마지막 슬라이드로 표시 됐을때는 
      다음 버튼 눌러도 아무런 반응 없게 하기 위해
      currentIdx !==slideCount - 1 일때만 
      moveSlide 함수 불러옴 */
      if (currentIdx !== slideCount - 1) {
        moveSlide(currentIdx + 1);
      }
    });

    function Stareg(){
      if (confirm('정말 등록하시겠습니까?')){ // 확인
        document.getElementById('myform').submit();
      }
      else {
        return false;
      }
    }
  </script>

{% endblock %}
