{% extends 'base.html' %}
{% load static %}

{% block header_code %}
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
  {% endblock %}

  {% block content %}
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-3 text-center" contenteditable="true">나의 반려견 스타일?</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="py-5 w-100" style="background-image: url({% static 'survey/picture/dog_main_pic.png' %});background-position: center;background-repeat: no-repeat;height: 50vh;background-size: contain;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12"><a class="btn btn-lg btn-primary text-dark text-center w-25" href="survey/" style="	box-shadow: 0px 0px 4px  black;"> START </a></div>
      </div>
    </div>
  </div>
  {% endblock %}