{% extends 'base.html' %}

{% load static %}

{% block header_code %}

  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">

{% endblock %}

{% block content %}
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="">당신에게 맞는 강아지가 있나요?</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <form action="/detail_info/{{roaddog.0.desertion_no}}/" method="GET">
                <div class="card"> <img class="card-img-top" src="{{roaddog.0.profile}}" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">품종 :
                      {{roaddog.0.kind_nm}}
                    </h4>
                    <p class="card-text">나이 :
                      {{roaddog.0.age}}세 
                      &nbsp;<br>성별 : 
                      {% if roaddog.0.sex_cd == 'F' %}
                      여
                      {% elif roaddog.0.sex_cd == 'M' %}
                      남
                      {% else %}
                      미상
                      {% endif %}
                      &nbsp;<br>중성화 여부 : 
                      {% if roaddog.0.neuter_yn == 'U' %}
                      미상
                      {% else %}
                      {{roaddog.0.neuter_yn}}
                      {% endif %}
                    </p><button class="btn btn-primary" style="">상세페이지</button>
                  </div>
                </div>
            </form>
          </div>
          <div class="col-md-4">
            <form action="/detail_info/{{roaddog.1.desertion_no}}/" method="GET">
                <div class="card"> <img class="card-img-top" src="{{roaddog.1.profile}}" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">품종 : 
                      {{roaddog.1.kind_nm}}
                    </h4>
                    <p class="card-text">나이 :
                      {{roaddog.1.age}}세 
                      &nbsp;<br>성별 : 
                      {% if roaddog.1.sex_cd == 'F' %}
                      여
                      {% elif roaddog.1.sex_cd == 'M' %}
                      남
                      {% else %}
                      미상
                      {% endif %}
                      &nbsp;<br>중성화 여부 : 
                      {% if roaddog.1.neuter_yn == 'U' %}
                      미상
                      {% else %}
                      {{roaddog.1.neuter_yn}}
                      {% endif %}
                    </p><button class="btn btn-primary">상세페이지</button>
                  </div>
                </div>
            </form>
          </div>
          <div class="col-md-4">
            <form action="/detail_info/{{roaddog.2.desertion_no}}/" method="GET">
                <div class="card"> <img class="card-img-top" src="{{roaddog.2.profile}}" alt="Card image cap">
                  <div class="card-body" >
                    <h4 class="card-title">품종 : 
                      {{roaddog.2.kind_nm}}
                    </h4>
                    <p class="card-text">나이 :
                      {{roaddog.2.age}}세 
                      &nbsp;<br>성별 : 
                      {% if roaddog.2.sex_cd == 'F' %}
                      여
                      {% elif roaddog.2.sex_cd == 'M' %}
                      남
                      {% else %}
                      미상
                      {% endif %}
                      &nbsp;<br>중성화 여부 : 
                      {% if roaddog.2.neuter_yn == 'U' %}
                      미상
                      {% else %}
                      {{roaddog.2.neuter_yn}}
                      {% endif %}
                    </p><button class="btn btn-primary">상세페이지</button>
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}