{% extends 'base.html' %}
{% load static %}

{% block header_code %}
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
{% endblock %}

{% block content %}
  <div class="py-5">
    <div class="container">
      <div class="row">
        <form action="/search/filter/" method="get">
          <input type="hidden" name="sido" id="sido" />
          <input type="hidden" name="kind" id="kind" />
          <div class="col-md-12">
            <div class="btn-group">
              <button class="btn btn-primary dropdown-toggle " id="selectSido" data-toggle="dropdown">시도선택</button>
              <div class="dropdown-menu"> <a class="dropdown-item" href="#" >시도선택</a>
                <div class="dropdown-divider" style="height:250px; overflow:auto;">
                  {% for sido in sidos %}
                  <button type="button" class="dropdown-item sido" data-value="{{sido.sido_cd}}" data-nm="{{sido.sido_nm}}">{{sido.sido_nm}}</button>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="btn-group">
              <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"  id="selectKind" > 품종선택</button>
              <div class="dropdown-menu"> <a class="dropdown-item" href="#">품종선택</a>
                <div class="dropdown-divider" style="height:250px; overflow:auto;">
                  {% for kind in kinds %}
                  <button type="button" class="dropdown-item kind" data-value="{{kind.kind_nm}}">{{kind.kind_nm}}</button>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="btn-group">
              <button class="btn btn-primary btn-lg"  style="font-size: 0.9rem;"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row" style="width: 100%;">
            {% for dog in roaddogs %}
            <div class="col-md-3 pl-3 pr-3">
                <form action="/detail_info/{{dog.desertion_no}}/" method="GET" >
                  <div class="card" style="margin-top: 10px"> <img class="card-img-top" src="{{dog.profile}}" alt="{{dog.kind_nm}}" style="width: 100%; height: 200px">
                    <div class="card-body" >
                      <h4 class="card-title">{{dog.kind_nm}}
                      </h4>
                      <p class="card-text">출생 : {{dog.age}}
                        &nbsp;<br>성별 : 
                        {% if dog.sex_cd == 'F' %}
                        여
                        {% elif dog.sex_cd == 'M' %}
                        남
                        {% else %}
                        미상
                        {% endif %}
                        &nbsp;<br>중성화 :
                        {% if dog.neuter_yn == 'U' %}
                        미상
                        {% else %}
                        {{dog.neuter_yn}}
                        {% endif %}
                      </p>
                      <!-- <input type="hidden" id="desertion_no" name="desertion_no" value="{{dog.desertion_no}}"> -->
                      <button class="btn btn-primary" >상세페이지</button>
                    </div>
                  </div>
                </form>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="py-5" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="pagination">
            <li class="page-item"> <a class="page-link" href="#"> <span>«</span></a> </li>
            <li class="page-item active"> <a class="page-link" href="#">1</a> </li>
            <li class="page-item"> <a class="page-link" href="#">2</a> </li>
            <li class="page-item"> <a class="page-link" href="#">3</a> </li>
            <li class="page-item"> <a class="page-link" href="#">4</a> </li>
            <li class="page-item"> <a class="page-link" href="#"> <span>»</span></a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->
  <script>

      
    document.querySelectorAll('.sido').forEach(e => {
      e.addEventListener('click', ev => {
        sido.value = ev.target.dataset.value;
        selectSido.textContent = ev.target.dataset.nm;
      })
    })

    document.querySelectorAll('.kind').forEach(e => {
      e.addEventListener('click', ev => {
        // alert('check click')
        kind.value = ev.target.dataset.value;
        selectKind.textContent = ev.target.dataset.value;
      })
    })


  </script>

{% endblock %}

 