{% extends 'base.html' %}
{% load static %}

{% block header_code %}
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
{% endblock %}

{% block content %}
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">시도선택</button>
            <div class="dropdown-menu"> <a class="dropdown-item" href="#">Action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>
          <!-- <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> 시군구선택</button>
            <div class="dropdown-menu"> <a class="dropdown-item" href="#">Action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div> -->
          <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> 품종선택</button>
            <div class="dropdown-menu"> <a class="dropdown-item" href="#">Action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>
          <button class="btn btn-primary btn-lg" style="margin: 10;" type="button" ><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row" style="width: 100%;">
            {% for dog in roaddogs %}
            <div class="col-md-3 pl-3 pr-3">
                <form action="/detail_info/" method="get" >
                  <div class="card" style="margin-top: 10px"> <img class="card-img-top" src="{{dog.profile}}" alt="{{dog.kind_nm}}">
                    < class="card-body" >
                      <h4 class="card-title">{{dog.kind_nm}}
                      </h4>
                      <p class="card-text">나이 :{{dog.age}}
                        &nbsp;<br>성별 : {{dog.sex_cd}}
                        &nbsp;<br>중성화 :{{dog.neuter_yn}}
                      </p>
                      <input type="hidden" id="desertion_no" name="desertion_no" value="{{dog.desertion_no}}">
                      <button class="btn btn-primary" >상세페이지</button>
                    </div>
                  </div>
                </form>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}