{% extends 'base.html' %}
{% load static %}

{% block header_code %}
  <link rel="stylesheet" href="{% static 'survey/wireframe.css' %}">
  <link rel="stylesheet" href="{% static 'survey/assets/css/star.css' %}">
<style>
  .survey_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2vw;
    font-weight: bolder;
  }

  .yes {
    color: darkgreen;
  }

  .no {
    color: firebrick;
  }


</style>
{% endblock %}

{% block content %}
<form method="post" action="/recommend/presurvey/survey/">
  {% csrf_token %}
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center" style="">내가 선호하는 강아지의 크기는??</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-2 survey_info no" >작다</div>
        <div class="col-md-8">
          <div class="rating">
            <input type="radio" name="weight" value="28" id="a" required><label for="a">☆</label>
            <input type="radio" name="weight" value="18" id="b"><label for="b">☆</label>
            <input type="radio" name="weight" value="10" id="c"><label for="c">☆</label>
            <input type="radio" name="weight" value="5" id="d"><label for="d">☆</label>
            <input type="radio" name="weight" value="1" id="e" ><label for="e">☆</label>
          </div>
        </div>
        <div class="col-md-2 survey_info yes">크다</div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center" style="">나는 강아지를 입양 할 때 어린 강아지를 선호하는 편이다</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-2 survey_info no" >아니다</div>
        <div class="col-md-8">
          <div class="rating">
            <input type="radio" name="age" value="0" id="f" required><label for="f">☆</label>
            <input type="radio" name="age" value="2" id="g"><label for="g">☆</label>
            <input type="radio" name="age" value="4" id="h"><label for="h">☆</label>
            <input type="radio" name="age" value="6" id="i"><label for="i">☆</label>
            <input type="radio" name="age" value="8" id="j"><label for="j">☆</label>
          </div>
        </div>
        <div class="col-md-2 survey_info yes" >그렇다</div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center" style="">강아지를 입양 할 때 건강 상태를 생각하는 편이다 </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-2 survey_info no" >아니다</div>
        <div class="col-md-8">
          <div class="rating">
            <input type="radio" name="health" value="1" id="k" required><label for="k">☆</label>
            <input type="radio" name="health" value="0" id="l"><label for="l">☆</label>
            <input type="radio" name="health" value="-1" id="m"><label for="m">☆</label>
            <input type="radio" name="health" value="-2" id="n"><label for="n">☆</label>
            <input type="radio" name="health" value="-4" id="o"><label for="o">☆</label>
          </div>
        </div>
        <div class="col-md-2 survey_info yes" >그렇다</div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center" style="">나는 적극적이고 활발한 강아지를 좋아하는 편이다.</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-2 survey_info no" >아니다</div>
        <div class="col-md-8">
          <div class="rating">
            <input type="radio" name="friendly" value="6" id="p" required><label for="p">☆</label>
            <input type="radio" name="friendly" value="3" id="q"><label for="q">☆</label>
            <input type="radio" name="friendly" value="0" id="r"><label for="r">☆</label>
            <input type="radio" name="friendly" value="-3" id="s"><label for="s">☆</label>
            <input type="radio" name="friendly" value="-6" id="t"><label for="t">☆</label>
          </div>
        </div>
        <div class="col-md-2 survey_info yes" >그렇다</div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12"><button class="btn btn-primary btn-lg text-center w-50">결 과 보 기</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}