<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary" style="">
    <div class="container"> <a class="navbar-brand" href="/about_us">
        <i class="fa d-inline fa-lg fa-stop-circle"></i>
        <b style="">About Us</b></a>
        <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar16">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar16">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="/">Home</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/accounts/signup/">Sign Up</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/accounts/mypage/">MyPage</a> </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="py-3" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12" style="">
              <div class="row">
                <div class="col-md-12">
                  <div class="row mx-auto">
                    <div class="col-md-4" style=""><img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-1.svg" style=""></div>
                    <div class="col-md-8 w-100" style="">
                      <div class="row">
                        <div class="col-md-8 py-5">
                          <div class="col-md-12 col-8 d-flex flex-column justify-content-center p-3 order-1 order-md-2" style="">
                            <h3>이상엽님 환영합니다.</h3>
                            <p>현재 많은 반려견들이 좋은주인의 품을 그리워 하고있습니다&nbsp;</p>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="col-md-12 col-4 d-flex flex-column align-items-center justify-content-center order-2 order-md-2 border-left p-3 py-5" style=""> <a class="btn btn-outline-primary mb-3" href="user_info/">회원정보</a> <a class="btn btn-primary mb-3" href="survey_info/">설문정보</a> <a class="btn btn-primary mb-3" href="inquiry/">1:1 문의</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>관심동물</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-6 p-3">
          <div class="row">
            <div class="col-3 p-0"> <img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-1.svg"> </div>
            <div class="col-9">
              <p class="lead mb-1">품종</p>
              <p class="mb-0">성별 :<br>나이 :<br>중성화 :</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 p-3">
          <div class="row">
            <div class="col-3 p-0"> <img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-4.svg"> </div>
            <div class="col-9">
              <p class="lead mb-1">품종</p>
              <p class="mb-0">성별 :&nbsp;<br>나이 :&nbsp;<br>중성화 :</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 p-3">
          <div class="row">
            <div class="col-3 p-0"> <img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-2.svg"> </div>
            <div class="col-9">
              <p class="lead mb-1">품종</p>
              <p class="mb-0">성별 :&nbsp;<br>나이 :&nbsp;<br>중성화 :</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 p-3">
          <div class="row">
            <div class="col-3 p-0"> <img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-3.svg"> </div>
            <div class="col-9">
              <p class="lead mb-1">품종</p>
              <p class="mb-0">성별 :<br>나이 :&nbsp;<br>중성화 :</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 p-3">
          <div class="row">
            <div class="col-3 p-0"> <img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-3.svg"> </div>
            <div class="col-9">
              <p class="lead mb-1">품종</p>
              <p class="mb-0">성별 : 나이 :&nbsp;<br>중성화 : </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 p-3">
          <div class="row">
            <div class="col-3 p-0"> <img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-4.svg"> </div>
            <div class="col-9">
              <p class="lead mb-1">품종</p>
              <p class="mb-0">성별 :&nbsp;<br>나이 :&nbsp;<br>중성화 :</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 p-3">
          <div class="row">
            <div class="col-3 p-0"> <img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-1.svg"> </div>
            <div class="col-9">
              <p class="lead mb-1">품종</p>
              <p class="mb-0">성별 :&nbsp;<br>나이 :&nbsp;<br>중성화 :</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 p-3">
          <div class="row">
            <div class="col-3 p-0"> <img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-2.svg"> </div>
            <div class="col-9">
              <p class="lead mb-1">품종</p>
              <p class="mb-0">성별 :&nbsp;<br>나이 :&nbsp;<br>중성화 :</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>
</body>

</html>